{% extends "blog/base.html" %}

{% block content %}
<div class="jumbotron shadow jumboclass">
    <h1 class="text-uppercase text-center font-weight-bold shadow">post room</h1>
     
         <h2 class="text-captitalize mt-5" style="font-size: 22px;">Objective</h2>
         <hr>
         <div>
            <p class="text-dark" style="font-size:20px;font-weight:400;">We all Know that Skill and Knowledge is not permitted to an individual and it can be shared to lot more people who are in needy and find it useful .
                <br>
                So we as a team came forward to build a website for the users where they can share their Knowledge,experiences and various kind of useful info.
                <br>
                Using this website you can simply learn something new in your domain by helping a lot of people in one strike.
                <br>
                It is a wonderful place to exchange questions and answers about a ton of different topics which makes you enthusiastic everyday to learn new.
                <br>
                This website provides an opportunity to expand your familiarity with specific topics, exploring them in new contexts and ways.
            </p>
         </div>


         <h2 class="text-captitalize mt-5" style="font-size: 22px;">Core team</h2>
         <hr>
         <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-secondary" style="font-size: 20px;">Vardhan</li>
                <li class="list-group-item list-group-item-secondary" style="font-size:20px;">Karthik</li>
                <li class="list-group-item list-group-item-secondary" style="font-size:20px;">Rohan</li>
                <li class="list-group-item list-group-item-secondary" style="font-size:20px;">Koushik</li>
              </ul>
         </div>



        <h2 class="text-captitalize mt-5" style="font-size: 22px;">Contact Details</h2>
        <hr>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-secondary" style="font-size: 20px;">Email : PostRoom@gmail.com</li>
              </ul>
        </div>

   <div class="mt-5">
       <span class="d-inline-flex mr-2"><a href="#" class="text-dark"><i class="fab fa-linkedin" style="font-size:25px"></i></a></span>
        <span class="d-inline-flex mr-2"><a href="#" class="text-dark"><i class="fab fa-twitter-square" style="font-size:25px;"></i></a></span>
        <span class="d-inline-flex mr-2"><a href="#" class="text-dark"><i class="fab fa-facebook" style="font-size:25px;"></i></a></span>
         <span class="d-inline-flex mr-2"><a href="#" class="text-dark"><i class="fab fa-instagram" style="font-size:25px;"></i></a></span>
    </div>
</div>
{% endblock %}