{% extends "blog/base.html" %}

{% block content %}
    <h1>This is about our application!</h1>
    <p>We all Know that Skill and Knowledge is not permitted to an individual and it can be shared to lot more people who are in needy and find it useful .
        <br>
        So we as a team came forward to build a website for the users where they can share their Knowledge,experiences and various kind of useful info.
        <br>
        Using this website you can simply learn something new in your domain by helping a lot of people in one strike.
        <br>
        It is a wonderful place to exchange questions and answers about a ton of different topics which makes you enthusiastic everyday to learn new.
        <br>
        This website provides an opportunity to expand your familiarity with specific topics, exploring them in new contexts and ways.
    </p>
{% endblock %}